<div id="gender">
    <table>
        {{#each men}}
        <tr>
            <td>id: {{id}}</td>
            <td>płeć: {{gender}}</td>
        </tr>
        {{/each}}

    </table>

    <table>
        {{#each women}}
        <tr>
            <td>id: {{id}}</td>
            <td>płeć: {{gender}}</td>
        </tr>
        {{/each}}

    </table>
</div>